*.iml
.DS_Store
/build
/.gradle
/.kotlin
/local.properties
**/build/
captures/
*.log
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.pub/
pubspec.lock
example/.dart_tool/
example/.flutter-plugins
example/.flutter-plugins-dependencies
example/.pub/
android/.gradle/
android/workspace/.gradle/
android/workspace/local.properties
ios/Pods/
ios/.symlinks/
ios/.build/
.xcodebuild/
ios/SampleApp/build/
ios/SampleApp/**/*.xcuserstate
ios/SampleApp/**/xcuserdata/
